@model  Employee

<h1>Edit Employee</h1>

<form method="post">
  Name: <input type="text" name="Name" value="@Model.Name"><br>
  Date Hired: <input type="date" name="DateHired" value="@Model.DateHired"><br>
  <button>Save</button>
</form>
