@model Employee

<h1>View Employee</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <td>@Model.EmployeeId.</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <th>Date Hired</th>
    <td>@Model.DateHired</td>
  </tr>
  <tr>
    <th>Supervisor</th>
    <td>@Model.Supervisor?.Name</td>
  </tr>
</table>
